.page_container_v {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    /* padding-top: 10px;
    margin: 15px; */
  }
  
.page_container_h {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.page_container_c {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

.font-test {
  font-family: Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.entry:hover {
  background-color:#FF9933;
  text-decoration:none;
  color:#FFFFFF;
}

.nav-link:hover {
  background-color:#FF9933;
}

.btn-outline-success:hover {
  background-color:#FF9933;
  border-color: #FF9933;
}

.review_entry:hover {
  background-color:#FF9933;
  border-color: #FF9933;
}

.review_entry {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

.review_entry:hover {
  background-color: #FF9933;
  border-color: #FF9933;
}

.review_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 5px;
  flex-grow: 1;
  width: 50%;
}

.review_content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bold_rating {
  color: #FF9933;
  font-weight: bolder;
}

.image-container {
  width: 900px; /* Set the desired width */
  height: 700px;
  overflow: hidden;
  position: absolute;
  right:260;
  margin-top: 60;
}

.rc_image_container {
  height: 100%;
  /* width: 100%;
  margin-left: 10%; */
  margin-right: 3.8%;
  margin-top:10px;
}

.rollercoaster_img {
  width: 50rem;
  height: 30rem;
  object-fit: cover;
  margin-top:15px;
}

.rollercoaster_page_holder {
  display: flex;
  flex-direction: row;
  gap: 18px;
  flex-grow: 1;
  margin: 25px;
}

body {
  /* background-color: rgba(89, 151, 151, 0.664); */
  /* background-color: #88BDBC; */
  /* background-color: aliceblue; */
  background-color: #d6f5f5;
}

.mynavbar {
  /* background-color: #5183a5 !important; */
  /* background-color: #ff9933 !important; */
  background-color: #29a3a3 !important;
  height: 80px;
}

.card-hover:hover
{
  background-color: #ff9933cb !important;
  transition: background-color 0.4s, border-color 0.4s !important;
}

.rollercoaster_card_img {
  width: 30rem;
  height: 20rem;
  margin: 15px;
  border-radius: 6px;
  border-color: #29A3A3;
  border-style: solid;
  object-fit: cover;
}

.navbar_text
{
  position: relative;
  top:-5px;
  left:5px;
  font-size: 20;
}

.like-icon {
  color: #ccc; /* Default color */
  cursor: pointer;
}

.liked {
  color: #FF9933; /* Liked color */
}

.rollercoaster_header {
  display: flex;
  flex-direction: row;
  gap:18px;
  /* border: 2px solid #29a3a3;
  border-radius: 1px; */
  background-color: white;
  width: 50%;
  margin-bottom: 30px;
  margin-top:15px;
}

.error {
  color: red
}