{% extends "base.html" %}

{% block content %}
<div class="container-fluid page_container_c">
    <h1 class="font-test">Coaster Critic</h1>
    
    <div class="row row-fluid g-3" style="width: 95%;">
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">Content for card 1.</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Card 2</h5>
            <p class="card-text">Content for card 2.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Content for card 3.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Card 4</h5>
            <p class="card-text">Content for card 4.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
