{% extends "base.html" %}

{% block content %}
<div class="page_container_c">
  <div class="rollercoaster_header card shadow bg-white rounded">
    <div class="rollercoaster_page_holder">
      <div style="width:100%; ">
        <h1 style="font-size: 5.5rem;">{{rollercoaster.name}}</h1>
        {% if average_score > 8.5%}
        <h2 style="font-size: 4.5rem; color: #FF9933;">{{average_score}}</h2>
        {% else %}
        <h2 style="font-size: 4.5rem;">{{average_score}}</h2>
        {% endif %}
        <div style="gap:40px" class="">
          <div>
            <h2>Year: {{rollercoaster.year}}</h2>
            <h2>Model: {{rollercoaster.model}}</h2>
            <h2>Manufacturer: {{rollercoaster.manufacturer}}</h2>
          </div>
          <div>
            <h2>Inversions: {{rollercoaster.inversions}}</h2>
            <h2>Speed: {{rollercoaster.speed}}</h2>
            <h2>Height: {{rollercoaster.height}}</h2>
            <!-- <h2>Length: {{rollercoaster.length}}</h2> -->
          </div>
        </div>
        <div style="width: 100%; word-wrap: normal;">
          <!-- <div class="font-test" style="font-size: 1.5rem; word-wrap: anywhere;">Nemesis, located at Alton Towers Resort in the UK, is an iconic inverted roller coaster renowned for its intense and immersive experience. Opened in 1994, this Bolliger & Mabillard masterpiece weaves through a menacing, unearthly landscape with twisted steel trackwork. Riders face relentless, gravity-defying inversions, including multiple corkscrews and zero-G rolls. Suspended beneath the track, passengers experience the sensation of flying amidst colossal, rock-like structures. The theming adds to the thrill, with a backstory of an ancient, unearthed force. Nemesis remains a fan favorite, delivering a visceral journey that combines adrenaline-pumping twists with an eerie, otherworldly atmosphere.</div> -->
        </div>
      </div>
    </div>
    <div style="float:left; " class="rc_image_container">
      <img alt="image of {{rollercoaster.name}} rollercoaster" class="img-fluid rollercoaster_img img-thumbnail" src="/static/assets/{{ rollercoaster.id }}.jpg">
    </div>
  </div>
<!-- 
  <ul style="margin-bottom: 10px;" class="nav nav-tabs" id="myTabs">
    <li class="nav-item">
      <a class="nav-link active" id="userReviewsTab" data-bs-toggle="tab" href="#userReviews"
        style="text-decoration:none; color: black;">Reviews</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="userStatsTab" data-bs-toggle="tab" href="#userStats"
        style="text-decoration:none; color: black;">Review Stats</a>
    </li>
  </ul> -->

  <div class="review_container">
    <h2>Reviews</h2>
    {% for review in reviews%}
    <!-- <div class="card" style="width: 96%; border: 2px solid #ff9933cb; border-radius: 1px;" onclick="open_review({{review.id}})"> -->
    <div class="card card-hover shadow bg-white rounded" style="width: 100%;" onclick="open_profile({{review.user.id}})">
      <div class="card-body">
          <h5 style="font-size: 35px; font-family: Walfork, Walsheim, Helvetica Neue, Helvetica, Arial, sans-serif;"
              class="card-title">{{ review.user.name}}</h5>
          {% if review.rating > 8.5%}
          <p style="font-weight: bold; color: #ff9933cb; font-size: 35px; font-family: Walfork, Walsheim, Helvetica Neue, Helvetica, Arial, sans-serif;"
              class="card-text"> {{ review.rating }}</p>
          {% else %}
          <p style="font-size: 35px; font-family: Walfork, Walsheim, Helvetica Neue, Helvetica, Arial, sans-serif;"
              class="card-text"> {{ review.rating }}</p>
          {% endif %}
          <!-- <p class="card-text">{{ review.review_text[:100] }}...</p> -->
          <p class="card-text">{{ review.review_text}}</p>
          <div style="display: flex; align-items: center; gap:5px;">
            <div id="{{review.id}}-icon" class="like-icon fa-lg" onclick="add_like(event, {{review.id}})"><i class="fas fa-heart"></i></div>
            <span id="{{review.id}}-likes">{{review.likes}}</span>
          </div>
      </div>
  </div>
  
    {% endfor %}
  </div>
</div>
{% endblock %}