{% extends "base.html" %}

{% block content %}
<div class="page_container_c">
    <h1 class="title card shadow bg-white rounded" style="font-weight:bold; color: #29A3A3; padding: 15px;">
        Rollercoasters
    </h1>
    <div class="review_container">
        {% for item in data %}
        <div class="card shadow bg-white rounded page_container_c card-hover" onclick="open_rollercoaster({{item.rollercoaster.id}})">
          <img alt="image of {{item.rollercoaster.name}}" class="card-img-top rollercoaster_card_img" src="/static/assets/{{ item.rollercoaster.id }}.jpg">
          <div class="card-body">
            <div>
                <h5 style="font-size: 35px; font-family: Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif;" class="card-title">{{ item.rollercoaster.name }}</h5>
                {% if item.average_score > 8.5 %}
                    <span style="font-weight: bold; color: #29A3A3; font-size: 35px;">{{ item.average_score }}</span>
                {% else %}
                    <span style="font-size: 35px;">{{ item.average_score }}</span>
                {% endif %}
            </div>
            </h5>
            <div style="gap:40px" class="page_container_h">
                <div>
                  <h5>Year: {{item.rollercoaster.year}}</h5>
                  <h5>Model: {{item.rollercoaster.model}}</h5>
                  <h5>Manufacturer: {{item.rollercoaster.manufacturer}}</h5>
                </div>
                <div>
                  <h5>Inversions: {{item.rollercoaster.inversions}}</h5>
                  <h5>Speed: {{item.rollercoaster.speed}}</h5>
                  <h5>Height: {{item.rollercoaster.height}}</h5>
                </div>
              </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}