{% extends "base.html" %}

{% block content %}
<div>
  <div class="page_container_h">
    <div class="rollercoaster_page_holder">
      <div style="width:100%; ">
        <h1 style="font-size: 5.5rem;">{{rollercoaster.name}}</h1>
        {% if average_score > 8.5%}
        <h2 style="font-size: 4.5rem; color: #FF9933;">{{average_score}}</h2>
        {% else %}
        <h2 style="font-size: 4.5rem;">{{average_score}}</h2>
        {% endif %}
        <div style="gap:40px" class="page_container_h">
          <div>
            <h2>Year: {{rollercoaster.year}}</h2>
            <h2>Model: {{rollercoaster.model}}</h2>
            <h2>Manufacturer: {{rollercoaster.manufacturer}}</h2>
          </div>
          <div>
            <h2>Inversions: {{rollercoaster.inversions}}</h2>
            <h2>Speed: {{rollercoaster.speed}}</h2>
            <h2>Height: {{rollercoaster.height}}</h2>
            <!-- <h2>Length: {{rollercoaster.length}}</h2> -->
          </div>
        </div>
        <div style="width: 100%; word-wrap: normal;">
          <!-- <div class="font-test" style="font-size: 1.5rem; word-wrap: anywhere;">Nemesis, located at Alton Towers Resort in the UK, is an iconic inverted roller coaster renowned for its intense and immersive experience. Opened in 1994, this Bolliger & Mabillard masterpiece weaves through a menacing, unearthly landscape with twisted steel trackwork. Riders face relentless, gravity-defying inversions, including multiple corkscrews and zero-G rolls. Suspended beneath the track, passengers experience the sensation of flying amidst colossal, rock-like structures. The theming adds to the thrill, with a backstory of an ancient, unearthed force. Nemesis remains a fan favorite, delivering a visceral journey that combines adrenaline-pumping twists with an eerie, otherworldly atmosphere.</div> -->
        </div>
      </div>
    </div>
    <div style="float:left; " class="rc_image_container">
      <img class="img-fluid rollercoaster_img img-thumbnail" src="/static/assets/{{ rollercoaster.id }}.jpg">
    </div>
  </div>
  <div class="review_container">
    <h2>Reviews</h2>
    {% for review in reviews%}
    <!-- <div class="card" style="width: 96%; border: 2px solid #ff9933cb; border-radius: 1px;" onclick="open_review({{review.id}})"> -->
    <div class="card" style="width: 96%; border: 2px solid #29a3a3; border-radius: 1px;">
      <div class="card-body">
          <h5 style="font-size: 35px; font-family: Walfork, Walsheim, Helvetica Neue, Helvetica, Arial, sans-serif;"
              class="card-title">{{ review.name}}</h5>
          <p style="font-size: 35px; font-family: Walfork, Walsheim, Helvetica Neue, Helvetica, Arial, sans-serif;"
              class="card-text"> {{ review.rating }}</p>
          <p class="card-text">{{ review.review_text[:100] }}...</p>
          <div style="display: flex; align-items: center; gap:5px;">
            <div id="{{review.id}}-icon" class="like-icon fa-lg" onclick="add_like({{review.id}})"><i class="fas fa-heart"></i></div>
            <span id="{{review.id}}-likes">{{review.likes}}</span>
          </div>
      </div>
  </div>
  
    {% endfor %}
  </div>
</div>
{% endblock %}