{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <h1 class="font-test text-center mb-4">Sign up</h1>
        <form action="/signup" method="post" name="submit" autocomplete="off">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label for="{{ form.name.id }}" class="form-label">Username</label>
                {{ form.name(class="form-control", placeholder="Username") }}
            </div>
            <div class="mb-3">
                <label for="{{ form.name.id }}" class="form-label">Password</label>
                {{ form.password(class="form-control", type="password", placeholder="Password") }}
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button style="background-color: #ff9933cb; margin-right: 10px;" class="btn btn-primary" type="submit">Signup</button>
                <button class="btn btn-secondary" type="reset">Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
