{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <h1 class="font-test text-center mb-4">Write Review</h1>
    <form action="/add_review" method="post" name="submit" autocomplete="off">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="rollercoaster">Select Rollercoaster:</label>
        {{ form.rollercoaster(class="form-control") }}
      </div>
      <div class="form-group">
        <label for="rating">Rating (0-10):</label>
        {{ form.rating(class="form-control", placeholder="0-10", step="0.1") }}
      </div>
      <div class="form-group mb-3"> {# Added margin-bottom to the content entry #}
        <label for="content">Review Content:</label>
        {{ form.content(class="form-control", placeholder="Write your review here", rows=8) }}
      </div>
      <div class="d-flex justify-content-center">
        <button style="background-color: #ff9933cb; margin-right: 10px;" class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-secondary" type="reset">Reset</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
